# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
city_df = pd.read_csv("output_data/city_data.csv")
city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hobart,-42.8794,147.3294,53.46,60,10,9.22,AU,1638724200
1,hokitika,-42.7167,170.9667,54.63,89,97,7.02,NZ,1638724201
2,albany,42.6001,-73.9662,42.46,56,100,1.01,US,1638724202
3,kalangala,-0.3089,32.2250,74.61,66,97,7.36,UG,1638724203
4,plettenberg bay,-34.0527,23.3716,65.93,90,61,2.17,ZA,1638724204

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(api_key=g_key)
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]
max_humid = humidity.max()

In [25]:
figure_layout = {
    'width': '500px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_humid,point_radius=6)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [43]:
# Dataframe with temperatures above 70 & below 80 & wind speed below 10mph
nicehols_df = city_df.loc[(cities["Max Temp"] > 70)
                          & (city_df["Max Temp"] < 80)
                          & (city_df["Wind Speed"] < 10)]

nicehols_df = nicehols_df.dropna(how='any')
nicehols_df.reset_index(inplace=True)
del nicehols_df['index']
nicehols_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kalangala,-0.3089,32.2250,74.61,66,97,7.36,UG,1638724203
1,rikitea,-23.1203,-134.9692,75.38,75,71,7.78,PF,1638724209
2,houma,29.5958,-90.7195,77.00,82,40,3.44,US,1638724210
3,vaini,-21.2000,-175.2000,73.56,100,75,8.05,TO,1638724211
4,east london,-33.0153,27.9116,70.74,100,40,6.91,ZA,1638724066

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [49]:
hotel_df = nicehols_df

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # extract results
    results = response['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        hotel_df.loc[index, 'Hotel Name'] = ""

In [50]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,kalangala,-0.3089,32.2250,74.61,66,97,7.36,UG,1638724203,Ssese Habitat Resort
1,rikitea,-23.1203,-134.9692,75.38,75,71,7.78,PF,1638724209,People ThankYou
2,houma,29.5958,-90.7195,77.00,82,40,3.44,US,1638724210,Courtyard by Marriott Houma
3,vaini,-21.2000,-175.2000,73.56,100,75,8.05,TO,1638724211,Keleti Beach Resort
4,east london,-33.0153,27.9116,70.74,100,40,6.91,ZA,1638724066,Tu Casa
...,...,...,...,...,...,...,...,...,...,...
79,yadgir,16.7667,77.1333,75.00,59,9,7.05,IN,1638724279,"SLV Hotel,Yadgir"
80,kalmunai,7.4167,81.8167,79.11,81,1,2.59,LK,1638724281,VS Villa
81,rincon,32.2960,-81.2354,72.05,60,20,4.61,US,1638724282,Days Inn Rincon
82,abu dhabi,24.4667,54.3667,75.31,64,0,4.61,AE,1638724253,Ramee Garden Hotel Apartments
83,poya,-21.3500,165.1500,77.14,83,29,5.17,NC,1638724282,

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [52]:
# Add marker layer ontop of heat map
# Display figure

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦